<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synchrevent > Templates</title>
    <link rel="icon" type="image/png" size="16x16" href="../../favicon.ico.png" />

    <link rel="stylesheet" href="styles/templates.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

</head>



<body>

<div class="">
<h2 class="temptitle">Generic</h2>
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

<p>- Paragraph - <br />
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
<br />- Paragraph -
</p>

<p><a href="#">Link</a> - <em>Emphasis</em> - <span class="hl-g">Highlight G</span> - <span class="hl-r">Highlight R</span> - <span class="hl-y">Highlight Y</span></p>
<br /><br />
</div>


<!-- HEADER -->
<h2 class="temptitle"> Header / Footer / Navs</h2>
<header>
    <img src="../../favicon.ico.png" alt="Synchrevent Logo" id="logo">
    <div>
      <h2 id="site-name">Synchrevent</h2>
      <p id="site-quote">Synchronising Your Events!</p>
    </div>

  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
  </nav>

</header>



<br />
<!-- SUB-MENUS -->
<div id="sub-menu">
<nav>
    <a href="#">Head Counter</a>
    <a href="#">Incidents</a>
    <a href="#">Event Info</a>
    <a href="#">Notifications</a>
    <a href="#">Assignments</a>
    <a href="#">Requests</a>
    <a href="#">Chat</a>
</nav>
</div>



<br />
<!-- FOOTER -->
<footer>
    <div>
    <img src="../../favicon.ico.png" alt="Synchrevent Logo" id="logo">
    <div>
        <h2 id="site-name">Synchrevent</h2>
        <p id="site-quote">Synchronising Your Events!</p>
    </div>
    </div>

    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Services</a>
    </nav>
</footer>





<br />
<h2 class="temptitle"> Custom Branding Header / Footer</h2>
<!-- CUSTOM BRAND FOOTER -->
<div>
CUSTOM BRAND FOOTER
</div>



<br />
<!-- CUSTOM BRAND HEADER -->
<div>
CUSTOM BRAND HEADER
</div>  




<br />
<h2 class="temptitle">Error Popup</h2>
<!-- ERROR -->
<div id="error-popup">
    <h1>Error <span id="error-code">000</span>:</h1>
    <p id="error-msg">Error Message</p>
</div>


<br />
<h2 class="temptitle">Notice Popup Types</h2>
<!-- NOTCIE -->
<div id="SetDynamicallyWhenPost" class="notice-popup success">
    <h1 id="notice-type" class="success">Success</h1>
    <p id="notice-msg">Notice Message</p>
    <span onclick="closeNoti(this)" class="material-symbols-outlined cls-btn">close</span>
</div>
<div id="SetDynamicallyWhenPost1" class="notice-popup warning">
    <h1 id="notice-type" class="warning">Warning</h1>
    <p id="notice-msg">Notice Message</p>
    <span onclick="closeNoti(this)" class="material-symbols-outlined cls-btn">close</span>
</div>
<div id="SetDynamicallyWhenPost2" class="notice-popup fail">
    <h1 id="notice-type" class="fail">Failure</h1>
    <p id="notice-msg">Notice Message</p>
    <span onclick="closeNoti(this)" class="material-symbols-outlined cls-btn">close</span>
</div>
<div id="SetDynamicallyWhenPost3" class="notice-popup info">
    <h1 id="notice-type" class="info">Info</h1>
    <p id="notice-msg">Notice Message</p>
    <span onclick="closeNoti(this)" class="material-symbols-outlined cls-btn">close</span>
</div>
<div id="SetDynamicallyWhenPost4" class="notice-popup general">
    <h1 id="notice-type" class="general">General</h1>
    <p id="notice-msg">Notice Message</p>
    <span onclick="closeNoti(this)" class="material-symbols-outlined cls-btn">close</span>
</div>






<br />
<h2 class="temptitle">Text Inputs</h2>
<!-- TEXT INPUT -->
<div class="txt-inp-cont">
<h2 class="txt-inp-title">Input Title</h2>
<textarea class="txt-inp-box"></textarea>
<button class="btn-rnd general" type="button" onClick="">Submit</button>
</div>


<br />
<!-- SMALL TEXT INPUT -->
<div class="s-txt-inp-cont">
<h2 class="s-txt-inp-title">Input Title</h2>
<textarea class="s-txt-inp-box"></textarea>
<button class="btn-rnd-hol general" type="button" onClick="">Submit</button>

</div>





<br />
<h2 class="temptitle">Button Types</h2>
<!-- BUTTONS -->
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <button class="btn" type="button" onclick="">Button (No Class)</button>
    <button class="btn success" type="button" onclick="">Button (Success)</button>
    <button class="btn warning" type="button" onclick="">Button (Warning)</button>
    <button class="btn fail" type="button" onclick="">Button (Fail)</button>
    <button class="btn info" type="button" onclick="">Button (Info)</button>
    <button class="btn general" type="button" onclick="">Button (General)</button>
</div>
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <button class="btn-hol" type="button" onclick="">Button (No Class)</button>
    <button class="btn-hol success" type="button" onclick="">Button (Success)</button>
    <button class="btn-hol warning" type="button" onclick="">Button (Warning)</button>
    <button class="btn-hol fail" type="button" onclick="">Button (Fail)</button>
    <button class="btn-hol info" type="button" onclick="">Button (Info)</button>
    <button class="btn-hol general" type="button" onclick="">Button (General)</button>
</div>
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <button class="btn-rnd" type="button" onclick="">Button (No Class)</button>
    <button class="btn-rnd success" type="button" onclick="">Button (Success)</button>
    <button class="btn-rnd warning" type="button" onclick="">Button (Warning)</button>
    <button class="btn-rnd fail" type="button" onclick="">Button (Fail)</button>
    <button class="btn-rnd info" type="button" onclick="">Button (Info)</button>
    <button class="btn-rnd general" type="button" onclick="">Button (General)</button>
</div>
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <button class="btn-rnd-hol" type="button" onclick="">Button (No Class)</button>
    <button class="btn-rnd-hol success" type="button" onclick="">Button (Success)</button>
    <button class="btn-rnd-hol warning" type="button" onclick="">Button (Warning)</button>
    <button class="btn-rnd-hol fail" type="button" onclick="">Button (Fail)</button>
    <button class="btn-rnd-hol info" type="button" onclick="">Button (Info)</button>
    <button class="btn-rnd-hol general" type="button" onclick="">Button (General)</button>
</div>
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <button class="btn material-symbols-outlined" type="button" onclick="">Star_Half</button>
    <button class="btn-rnd success material-symbols-outlined" type="button" onclick="">Done</button>
    <button class="btn-hol warning material-symbols-outlined" type="button" onclick="">Warning</button>
    <button class="btn-rnd-hol fail material-symbols-outlined" type="button" onclick="">Cancel</button>
    <button class="btn-rnd info material-symbols-outlined" type="button" onclick="">Info</button>
    <button class="btn-hol general material-symbols-outlined" type="button" onclick="">Lightbulb</button>
</div>


<br />
<h2 class="temptitle">Badges</h2>
<!-- BADGE -->
<div>
BADGE
</div>


<br />
<h2 class="temptitle">Banners</h2>
<!-- BANNER -->
<div id="" class="banner-popup">
    <h1 id="" class="material-symbols-outlined banner-badge ">Star_Half</h1>
    <p class="banner-msg">No Class</p>
</div>
<div id="" class="banner-popup success">
    <h1 id="" class="material-symbols-outlined banner-badge  success">Done</h1>
    <p class="banner-msg">Success</p>
</div>
<div id="" class="banner-popup warning">
    <h1 id="" class="material-symbols-outlined banner-badge  warning">Warning</h1>
    <p class="banner-msg">Warning</p>
</div>
<div id="" class="banner-popup fail">
    <h1 id="" class="material-symbols-outlined banner-badge  fail">Cancel</h1>
    <p class="banner-msg">Fail</p>
</div>
<div id="" class="banner-popup info">
    <h1 id="" class="material-symbols-outlined banner-badge  info">Info</h1>
    <p class="banner-msg">Information</p>
</div>
<div id="" class="banner-popup general">
    <h1 id="" class="material-symbols-outlined banner-badge  general">Lightbulb</h1>
    <p class="banner-msg">General</p>
</div>


<br />
<h2 class="temptitle">Progress Bars</h2>
<!-- PROGRESS BAR -->
<div>
PROGRESS BAR
</div>


<br />
<h2 class="temptitle">Switches</h2>
<!--SWITCH  -->
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round success"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round warning"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round fail"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round info"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider round general"> </span>
    </label>
</div>
<div style="display: flex; justify-content: space-around; width: 85%; margin: 5px auto;">
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider success"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider warning"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider fail"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider info"> </span>
    </label>
    <label class="switch">
        <input class="" type="checkbox" onclick="">
        <span class="slider general"> </span>
    </label>
</div>



<br />
<h2 class="temptitle">Maintenance</h2>
<!--MAINTENANCE (REMOVE INLINE STYLING) -->
<div id="maintenanceModeContainer" style="height:auto; position:relative; display: flex">
    <div>
    <h1 id="maintenanceTitle">TITLE</h1>
    <h2 id="maintenanceSubtitle">SUBTITLE</h2>
    <h4 id="maintenanceLittletittle">MESSAGE</h4>
    </div>
</div>



<br />
<h2 class="temptitle">Site Down Message</h2>
<!--SITE DOWN MSG  -->
<div>
SITE DOWN MSG
</div>



<br />
<h2 class="temptitle">404</h2>
<!--404 (REMOVE INLINE STYLING) -->
<div id="notFoundContainer" style="height:auto; position:relative">

    <div>
    <h1>404<br />Page Not Found!</h1>
    <h2>In other words, the page you're looking for does not exist!</h2>
    <h4>If you typed the URL, double check it and make sure its correct. If you were direct here from somewhere else, try going back or returning to the home page.</h4>
    </div>

</div>


<br />
<h2 class="temptitle">Modal</h2>
<!-- MODAL -->
<div>
MODAL
</div>






<br />
<h2 class="temptitle">Login Form</h2>
<!-- LOGIN -->
<div>
LOGIN
</div>


<br />
<h2 class="temptitle">Access Code Form</h2>
<!-- ACCESS CODE -->
<div>
ACCESS CODE
</div>


<br />
<h2 class="temptitle">User Profile Template</h2>
<!-- USER PROFILE -->
<div>
USER PROFILE
</div>


<br />
<h2 class="temptitle">User Event List Template</h2>
<!-- USER EVENT LIST -->
<div>
USER EVENT LIST
</div>






<br />
<h2 class="temptitle">Head Counter</h2>
<!-- HEAD COUNTER -->
<div>
HEAD COUNTER FEATURE
</div>


<br />
<h2 class="temptitle">Incident Reporting</h2>
<!-- INCIDENT REPORTING -->
<div>
INCIDENT REPORTING FEATURE
</div>


<br />
<h2 class="temptitle">Information Board</h2>
<!-- INFORMATION BOARD -->
<div>
INFORMATION BOARD FEATURE
</div>


<br />
<h2 class="temptitle">Notification Panel</h2>
<!-- NOTIFICATION BOARD -->
<div>
NOTIFICATION BOARD FEATURE
</div>


<br />
<h2 class="temptitle">Assignment Feed</h2>
<!-- ASSIGNMENTS -->
<div>
ASSIGNMENTS FEATURE
</div>


<br />
<h2 class="temptitle">Request Panel</h2>
<!-- REQUESTS -->
<div>
REQUESTS FEATURE
</div>


<br />
<h2 class="temptitle">Chat Area</h2>
<!-- CHAT -->
<div>
CHAT FEATURE
</div>


<br />
<h2 class="temptitle">User Online Stats</h2>
<!-- ONLINE STATS -->
<div>
ONLINE STATS FEATURE
</div>


<br />
<h2 class="temptitle">Loose Settings</h2>
<!-- SETTINGS (LOOSE) CONTAINER -->
<div>
SETTINGS (LOOSE) FEATURE
</div>




<script src="js/templates.js"></script>

</body>

</html>